<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://kit.fontawesome.com/1be2aef06e.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</head>
<body>
    
<%- include('header.ejs') %>
<header>
    <h2>Get in <span class="gradient">Touch</span></h2>
    <p><i class="fa-solid fa-house-chimney"></i>Home <span class="contact-us"> <i class="fa-solid fa-greater-than fa-sm"></i> Contact Us</span></p>
    
</header>

<main>
    <h3>Let's Start the Conversation</h3>
    <p>"<span class="required">*</span>" indicates required fields</p>

    <form action="">
        <label for="">I would like to: <span class="required">*</span>
            <select name="options" id="">
                <option value="Hire LaunchUX" selected>Hire LaunchUX</option>
                <option value="Request Support">Request Support</option>
                <option value="Request a Website Review">Request a Website Review</option>
                <option value="Join the crew">Join the crew</option>
                <option value="Partner with LaunchUX">Partner with LaunchUX</option>
            </select>
        </label>
        <label for="FirstName">First Name <span class="required">*</span>
            <input type="text">
        </label>
        <label for="lastName"> lastName <span class="required">*</span>
            <input type="text">
        </label>
        <label for="website URL"> Website URL <span class="required">*</span>
            <input type="text">
        </label>
        <label for="Email">Email <span class="required">*</span>
            <input type="text">
        </label>
        <label for="Phone">Phone <span class="required">*</span>
            <input type="number">
        </label>
        <label for="Company or Organization"> Company or Organization
            <input type="text">
        </label>
    
    </form>
    <div class="instruction">Only leave blank if not associated with a business
            <h4>How can we help you? (choose multiple) <span class="required">*</span></h4>

    </div>

    <form action="" method="post" class="checkbox">
        <label for="online-leads">
            <input type="checkbox" name="" id=""> Get more online leads
        </label>
        <label for="improve-website">
            <input type="checkbox" name="" id=""> Build or improve my website
        </label>
        <label for="online-presence">
            <input type="checkbox" name="" id=""> Increase my online presence
        </label>
        <label for="social-media">
            <input type="checkbox" name="" id=""> Manage my social media
        </label>
        <label for="host">
            <input type="checkbox" name="" id=""> Host my site
        </label>
        <label for="protect">
            <input type="checkbox"> Protect my website and business information
        </label>
        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
      <br/>
      <input type="submit" value="Submit" class="submit">
    </form>
    <article class="contact-number-div">
        <h3>The Best in Web & SEO </h3>
        <p><span class="gradient">Call Us</span> (855) 352-8634</p>
    </article>
    
    <div class="space">
        <div class="image-div">
                
        <img src="/images/sspacd.png" alt="" class="img-fluid" class="spaceman-img">
        </div>
        <div class="contact-links">
            <i class="fa-brands fa-instagram fa-xl"></i>
            <i class="fa-brands fa-facebook fa-xl"></i>
            <i class="fa-brands fa-linkedin fa-xl"></i>
            <i class="fa-brands fa-airbnb fa-xl"></i>


        </div>
    </div>

    <%- include('footer.ejs') %>
  
    
    
      
  

</main>
</body>
</html>