<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <div class="div">


        <footer>
            <div class="badge-div">
                <img src="images/upcity-badge.png" alt="" class="img-fluid">
                <img src="/images/clutch-badge.png" alt="" class="img-fluid">
            </div>
        
            <button class="request-quote">Request Quote</button>
            <img src="/images/logo.png" class="img-fluid" alt="">
            <h4>(855) 352-8624</h4>
            <h5>Headquatered in Chambersburg, PA</h5>
            <p>2024</p>
    
            <ul>
                <li><a href="/">LaunchUX</a></li>
                <li><a href="http://">Careers</a></li>
                <li><a href="http://">Locations</a></li>
                <li><a href="http://">industries</a></li>
                <li><a href="http://">of Service</a></li>
            </ul>
        </footer>
    </div>
    
    
</body>
</html>