<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
<div class="container">
    <div class="nav">
        <div class="nav-brand"></div>
        <div class="nav-icon">
            <ul>
                <li></li>
            </ul>
            <div class="collapse"></div>
            <span>Request Quote</span>

        </div>
    </div>
</div>
    
</body>
</html>