<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1be2aef06e.js" crossorigin="anonymous"></script>
</head>

<%- include('header.ejs') %>
    <body>
          
                <section class="main_separated ">
                    <div class="first-div ">
                        <p>trenches</p>
        
                    </div>
                    <div class="second-div">
                        <article class="main-text">
                            <i></i>
                            <h1>Website Development 
                                We <span class="gradient">Rocket Man</span>!</h1>
                            <p><span class="hr"></span>
                                LaunchUX is a nationally awarded website design and 
                                SEO firm that specializes in driving new revenue to 
                                your business.
                            </p>
                            <a href="./contact  " class="blast-off">Blast Off!</a>
                          
                
                        </article>
                    </div>


                </section>
            <div class="question_button col-2">
                <img data-v-70482454="" src="https://app.aminos.ai/storage//bots/avatars/65b29876759c2.png" alt="default" class="img-fluid question">
            </div>
        <section class="col-12">
            
                <section class="section2">
                    <h4>Want your website to <br> <span class="gradient"> rank higher</span>?</h4>
                    <button class="requestSEO_button">Request SEO Report <span><i class="fa-solid fa-greater-than fa-fade"></i></span></button>
                </section>
                <section class="section3">
                        <h2>Website Services</h2>
                        <div class="services">
                            <div class="service-lists">
                                <a href="" id="web-design">Web Design</a>
                                <a href="" id="seo">SEO</a>
                                <a href="" id="social-mdia">Social Media</a>
                                <a href="" id="Integrations">Integrations</a>
                                <a href="" id="web-hosting">Web Hosting</a>
                                <a href="" id="web-app">Web App Development</a>
                            </div>
                            <div class="service-details">
                                <h3 class="selected-heading">Website Design</h3>
                                <h4 class="selected-details">Make Your Business Stand Out Online</h4>
                                <h5 class="heading1">Attract more visitors</h5>
                                <p class="heading1-detailss">More traffic + conversions = growth. Maths.</p>
                                <h5 class="heading2">Stay relevant online</h5>
                                <p class="heading2-details">The internet is always changing - don't get lost in the void.</p>
                                <h5 class="heading3">Improve your brand</h5>
                                <p class="heading3-details">Customers gravitate towards what's sleek, memorable, and appealing.</p>
                                <button class="learn-more">Learn More</button>
                            </div>
                           
                        </div>
                </section>
                <section class="brand-div">
                    <div class="image ">
                        <img src="/images/jones-road-tree-service.png" alt="" class="img-fluid">
                    </div>
                    <div class="image">
                        <img src="/images/mount-holly-springs.png" alt="" class="img-fluid">
                    </div>
                    <div class="image">
                        <img src="/images/wade-architecture.png" alt="" class="img-fluid">
                    </div>
                    <div class="image">
                        <img src="/images/jm-boswells.png" alt="" class="img-fluid">
                    </div>
                    <div class="image">
                        <img src="/images/central-state-door-service.png" alt="" class="img-fluid">
                    </div>
                    <div class="image">
                        <img src="/images/spicher-and-company.png" alt="" class="img-fluid">
                    </div>
                    
                    
                </section>
                <section class="section4">
                    <h2 class="results">We Produce Results</h2>
                    <p>See how we launched our clients towards their goals</p>
                    <article class="case-study">
                        <div class="case-image">
                            <img src="/images/nordic-pure (2).jpg" alt="" class="img-fluid">
                        </div>
                        <img src="/images/nordic-pure.jpg" alt="" class="img-fluid">
                        <span class="case-cover"></span>

                    </article>
                    <article class="case-study">
                        <div class="case-image">
                            <img src="/images/franklin-county-free-press (2).jpg" alt="" class="img-fluid">
                        </div>
                        <img src="/images/franklin-county-free-press.jpg" alt="" class="img-fluid">
                        <span class="case-cover"></span>
                    </article>
                    <article class="case-study">
                        <div class="case-image">
                            <img src="/images/zest (2).jpg" alt="" class="img-fluid">
                        </div>
                        <img src="/images/zest.jpg" alt="" class="img-fluid">
                        <span class="case-cover"></span>

                    </article>
                    <h4>Ready  to <span class="gradient">Take Off?</span></h4>
                    <p>Our crew is in the top 1% of SEO providers! Our results are out of this world.</p>
                    <button class="blast-off"><i class="fa-solid fa-comment fa-flip-horizontal"></i>Let's Talk</button>
                </section>
                <div class="tenor-gif-embed" data-postid="18158562" data-share-method="host" data-aspect-ratio="1" data-width="100%">
                    <a href="https://tenor.com/view/mooncat-gif-18158562">Mooncat GIF</a>from <a href="https://tenor.com/search/mooncat-gifs">Mooncat GIFs</a>
                </div> 
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

            </div>
        </section>
        <%- include('header.ejs') %>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            // Example jQuery code
            $(document).ready(function() {
                // jQuery code goes here
                $('#seo').addEventListener('click', function(){
                    $('.selected-heading').text('Search Engine Optimization')
                    $('.selected-details').text('Why You Need SEO')
                    $('.selected-details').text('SEO is the art of getting your website to the first page of Google Search results')
                })
            });
        </script>
    </body>
</div>
    
</html>