header{
    background-image: url(../images/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15%;
    padding: 20% 5% 10%;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* body{
 
} */
header h2{
    font-size: 4rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    font-weight: 600;
    padding: 30% auto;
    z-index: 2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.gradient{
    background: linear-gradient(
    220deg,
    #FF2525,
    #FFFB7D,
    #dd8615
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}
header p{
    display: inline-flex;
    gap: 5px;
    color: #dd8615;
    font-size: 18px;
    border-top: 30px;
    text-align: left;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.contact-us{
    color: white;
    font-weight: 700;
}
.fa-greater-than{
    color: white;
}

main{
    padding: 30px ;
    box-sizing: border-box;
    margin-top: -5%;
    background-color: black;
    box-sizing: border-box;
    position: relative;
    color: white;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
main h3{
    font-size: 32px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    position: relative;
    text-align: left;

}
main > p{
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    padding: 20px 0;
    color: white;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    width: 100%;
    box-sizing: border-box;
}
.required{
    color: red;
}
input[type=text], input[type=number], select, select > option{
    background-color: rgb(0, 30, 66);
    position: relative;
    width:400px;
    max-width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    border: none;
    color: rgb(241, 241, 241);
}
label{
    padding-bottom: 5%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.instruction{
    font-size: 14px;
    width: 350px;
    box-sizing: border-box;
    position: relative;
    line-height: 22px;
    padding-bottom: 10px ;
    color: white;
    text-align: left;
    text-size-adjust: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main > h4{
    width: 356px;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    font-weight: 700;
    margin-bottom: 10px;
    text-size-adjust: 100%;
    text-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

input [type=checkbox], .checkbox {
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    text-align: left;
    box-sizing: border-box;

}
.submit {
    background-color: rgb(236, 108, 53);
    box-sizing: border-box;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 50px;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    font-size: 22px;
    margin-top: 10%;
}
.contact-number-div{
    text-align: center;
    font-size:32px ;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    position: relative;
}

.space{
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    right:60%;   
}
.contact-links{
    position: relative;
    right: 25%;
    display: block;
    flex-wrap: wrap;

}
.man-dancing{
  width: 100%;
  position: relative;
  box-sizing: border-box;

}