
.container-fluid{
    padding: 0%;
    
}

.logo{
    height: 100%;
    width: 100%;
    display: block;
    
}
.nav{
    display: inline-flex;
    background-color: black;
    padding: 20px;
   
}
.nav-items{
    background-color: transparent;
    display: flex;
    color: white;
    z-index: 3;
}
.card{
    color: white;
}
.body-details{
    color: white;
}

main{
    color: white;
    background-image: url(../images/space.gif);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
    padding:15% 2% 5%;
}
main h3{
    font-size: 3rem;
    font-weight: 600;
    width: 70%;
   
}